html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
  text-align: center;
  font-family: 'helvetica';
  color: white;
}

body {
  background: #000;
}


ul {
  width: 300px;
  margin: 0 1em;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  width: 150px;
}

li img{
	width:150px;
}

.giphy {
	float: right;
	bottom: 0px;
	right: 0px;
	width: 50px;
	height: 25px;
  margin-bottom: 5px;
}

form{
  display: inline-block;
  width: 300px;
  margin: 0 1em 1em;
}

.text-box {
  width: 68%;
  font-size: 20px;
  outline: none;
}

.button {
  background: black;
  color: #fff;
  float: right;
  outline: none;
  border: solid 1px #fff;
  height: 29px;
  width: 30%;
  position: relative;
  top: 2px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.random {
  background: black;
  color: #fff;
  float: right;
  outline: none;
  border: solid 1px #fff;
  height: 29px;
  width: 30%;
  position: relative;
  top: 2px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.button:hover{
  background: #fff;
  color: #000;
}

#copy{
  position: absolute;
  top: -500px;
}

.loading {
  display: none;
  margin: 0 auto;
}