/* line 1, ../sass/main.sass */
html {
  box-sizing: border-box;
}

/* line 4, ../sass/main.sass */
* {
  box-sizing: inherit;
}
/* line 6, ../sass/main.sass */
*:before, *:after {
  box-sizing: inherit;
}

/* line 9, ../sass/main.sass */
body {
  width: 440px;
  background: black;
}

/* line 13, ../sass/main.sass */
#container {
  margin: 0 1em;
}
/* line 16, ../sass/main.sass */
#container .item {
  float: left;
  width: 137px;
}
/* line 20, ../sass/main.sass */
#container .item img {
  display: block;
  width: 100%;
}

/* line 24, ../sass/main.sass */
.loading {
  margin: 0 auto;
  display: block;
}

/* line 28, ../sass/main.sass */
.is-hidden {
  display: none;
}

/* line 31, ../sass/main.sass */
.not-found {
  width: 100% !important;
}

/* line 34, ../sass/main.sass */
p {
  text-align: center;
  font-family: "helvetica";
  color: white;
}

/* line 39, ../sass/main.sass */
.giphy {
  float: right;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 48, ../sass/main.sass */
form {
  display: inline-block;
  width: 450px;
  margin: 0 1em 1em;
}

/* line 53, ../sass/main.sass */
.text-box {
  width: 310px;
  font-size: 20px;
  outline: none;
  height: 40px;
}

/* line 59, ../sass/main.sass */
.button {
  background: black;
  color: white;
  display: inline-block;
  outline: none;
  border: solid 1px white;
  height: 40px;
  width: 100px;
  position: relative;
  top: -3px;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
/* line 70, ../sass/main.sass */
.button:hover {
  background: white;
  color: black;
}

/* line 74, ../sass/main.sass */
.random-trending {
  margin: 0 1em 1em;
}
/* line 76, ../sass/main.sass */
.random-trending .button {
  width: 205px;
}

/* line 80, ../sass/main.sass */
#big img {
  display: block;
  margin: 0 auto;
  width: 400px;
}
/* line 84, ../sass/main.sass */
#big .back {
  text-align: center;
  color: white;
  display: block;
  font-family: sans-serif;
  margin-bottom: 1em;
}

/* line 91, ../sass/main.sass */
#copy {
  position: absolute;
  top: -500px;
}
